.dropDownFilter {
  padding: 17px;
  color: #9e9e9e !important;
  display: flex;
  cursor: pointer;
  background-color: #7e81e8 !important;
  margin-bottom: 0 !important;
}

.collapseMenu {
  display: none;
  margin-right: 20px;
}

.collapseTo {
  margin-right: 10px;
}
.paginationdropDownField {
  padding: 0px 25px 0 25px;
  font-size: 14px !important;
  color: #9e9e9e !important;
  display: flex;
  cursor: pointer;
  margin-bottom: 0 !important;
  max-width: 200px;
  margin-top: 8px;
}


@media (max-width: 800px) {
  .collapseTo {
    display: none;
  }

  .collapseMenu {
    display: block;
  }
}