.dropDownField {
  padding: 0px 25px 0 25px;
  font-size: 12px !important;
  color: #9e9e9e !important;
  display: flex;
  cursor: pointer;
  margin-bottom: 0 !important;
}

@media (max-width: 767px) {
  .dropDownField {
    padding: 0px 15px 0 15px;
  }
}