.detailsSection {
    border: 1px solid rgb(223 223 223);
    padding: 20px;
    background-color: #FAFAFA;
    min-height: calc(100vh - 145px);
    max-height: calc(100vh - 145px);
    align-items: center;
    display: flex;
    justify-content: center;
}

.detailsSectionLeft {
    border: 1px solid rgb(223 223 223);
    padding: 20px;
    background-color: #FAFAFA;
    min-height: calc(100vh - 145px);
    max-height: calc(100vh - 145px);
    overflow: auto;
}

.collapseMenu {
    display: none;
    margin-right: 20px;
}

.collapseTo {
    margin-right: 10px;
}

.boxDrag {
    border: 1px solid rgb(218 218 218);
    background-color: white;
    padding: 1rem;
    margin-bottom: 1rem;
    display: flex;
}

.colStyle {
    padding: 8px;
}

.topBoxStyle {
    width: 100%;
    height: 65px;
}

@media (max-width: 800px) {
    .collapseTo {
        display: none;
    }

    .collapseMenu {
        display: block;
    }
}

@media (max-width: 767px) {
    .detailsSection {
        min-height: auto;
    }
}