.dropDownField {
  padding: 0px 25px 0 25px;
  font-size: 12px !important;
  color: #9e9e9e !important;
  display: flex;
  cursor: pointer;
  margin-bottom: 0 !important;
}

.paginationdropDownField {
  padding: 0px 25px 0 25px;
  font-size: 14px !important;
  color: #9e9e9e !important;
  display: flex;
  cursor: pointer;
  margin-bottom: 0 !important;
  max-width: 200px;
  margin-top: 8px;
}


.dropDownFilter {
  padding: 17px;
  color: #9e9e9e !important;
  display: flex;
  cursor: pointer;
  background-color: #7e81e8 !important;
  margin-bottom: 0 !important;
}


.collapseMenu {
  display: none;
  margin-right: 20px;
}

.collapseTo {
  margin-right: 10px;
}

.customDrawerHeader {
  margin-bottom: 20px;
  background-color: #416b92;
}

.purple {
  background-color: #7f7fef;
}

.green {
  background-color: #4caf50;
}

.blue {
  background-color: #2196f3;
}

.red {
  background-color: #f44336;
}

.yellow {
  background-color: #ff9800;
}

.titleClr{
  color: #9E9E9E;
  font-size: 12px;
}

.answer{
  font-size: 12px;
}


@media (max-width: 1000px) {
  .collapseTo {
    display: none;
  }

  .collapseMenu {
    display: block;
  }
}

@media (max-width: 767px) {
  .detailsSection {
    min-height: auto;
  }

  .dropDownField {
    padding: 0px 15px 0 15px;
  }
}