@tailwind base;
@tailwind components;
@tailwind utilities;

:where(.css-dev-only-do-not-override-1xrj0o4).ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
  z-index: 0;
  height: 48px;
}

:where(.css-dev-only-do-not-override-1xrj0o4).ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled) {
  z-index: 0;
  height: 48px;
}

.float-label {
  position: relative;
  /* margin-bottom: 20px; */
  height: 48px;
}

.label {
  font-size: 12px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 12px;
  top: 12px;
  transition: 0.2s ease all;
  width: 92%;
}

.label-float {
  top: 6px;
  font-size: 10px;
}

.example {
  margin: 12px;
}

/* Force update ant style */
.ant-input {
  padding: 16px 12px 4px 11px;
  height: 48px;
}

.ant-select .ant-select-selector {
  padding: 16px 10px 4px 11px;
}

.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  padding: 16px 12px 4px 11px;
  height: 48px;
}

.ant-select-single .ant-select-selector .ant-select-selection-search {
  top: 16px;
}

.ant-drawer-header {
  background-color: #333793;
}

.ant-drawer-title {
  color: #fff;
}

.arrow-down {
  position: absolute;
  right: 0px;
  top: 6px;
}

.ant-menu-horizontal,
.ant-menu-item::after,
.ant-menu-submenu::after {
  background-color: #333793;
}

.align-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 12px;
  border: 2px solid var(--primary);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--tertiary);
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

:root {
  --primary: #f1f1f1;
  --secondary: #b7b5b5;
  --tertiary: #717171;
}

.show-more-less-clickable {
  cursor: pointer;
  color:blue;
}